<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
  <div class="navbar-brand"> GitHub Users - Search & Destroy </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active"> Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="/about" routerLinkActive="active"> About </a>
      </li>
    </ul>
  </div>
</nav>