<h3>About application</h3>

<br>

<p>
  This is a simple Angular SPA that shows a list of up to 10 users from GitHub and an input box to
  search for specific users using the GitHub API
  <a href="https://api.github.com/search/users?q=test">https://api.github.com/search/users?q=test</a>.
</p>

<p>
  By clicking on a user a screen with detailed information about that user is shown (avatar, name, date joined and
  follower list with pagination).
</p>

<p>
  This application has basic layout using Bootstrap 4 and contains many important features from Angular like
  Components, Routing, External modules, Lazy loading, Providers (Services), Forms...
</p>

<div class="alert alert-warning">
  Some cool feature in this project is implementing <strong>HttpInterceptor</strong> for global handling all errors
  from server calls (REST api)
</div>