<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">User information</h4>
      <button type="button" class="btn btn-outline-dark" (click)="close()">X</button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">

          <!-- user details (name, login, avatar) -->
          <div class="col">
            <div class="card-body">

              <!-- loading animation for user details -->
              <span *ngIf="!user">
                <div class="spinner-border" role="status" aria-hidden="true"></div>
              </span>

              <div *ngIf="user">
                <img [src]="user.avatar_url" [alt]="user.login" style="height: 160px">
                <br>
                <h4 style="padding-top:10px"> {{ user.login }} </h4>
                <h5 class="text-muted" *ngIf="user.name"> {{ user.name }} </h5>
                <p>
                  joined:
                  <span class="text-muted"> {{ user.created_at | date: 'MMM d, y' }} </span>
                </p>
              </div>
            </div>
          </div>

          <!-- follower list -->
          <div class="col">
            <h6 class="text-muted" style="padding-bottom: 10px">
              FOLLOWERS

              <!-- loading animation for followers-->
              <span *ngIf="!(followers && followers.length)" style="padding-left: 10px">
                <div class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></div>
              </span>

              <span *ngIf="followers && followers.length" class="badge badge-pill badge-info"> {{ followers.length }}
              </span>
            </h6>

            <div *ngFor="let follower of followers | paginate : pagination.itemsPerPage : pagination.currentPage;">
              <div class="media">
                <div class="media-left">
                  <img [src]="follower.avatar_url" class="media-object" style="width:30px">
                </div>
                <div class="media-body">
                  <p style="padding-left: 10px"> {{ follower.login }} </p>
                </div>
              </div>
            </div>

            <ng6-pagination *ngIf="followers && followers.length" [allItems]="followers" [pageSize]="pagination.itemsPerPage"
              (pageChange)="pagination.currentPage = $event" itemsPerPage></ng6-pagination>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>