<form class="form-inline my-2 my-lg-0" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <input class="form-control mr-sm-2" type="search" placeholder="Search other users..." name="key" ngModel #key="ngModel">

  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="loading">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Search
  </button>
</form>

<br>

<ul class="list-group pull-down">

  <li class="list-group-item" *ngFor="let user of users">

    <div class="row w-100">
      <div class="col-12 col-sm-4 col-md-4 px-0">
        <img [src]="user.avatar_url" [alt]="user.login" class="rounded-circle mx-auto d-block img-fluid" style="height: 80px">
      </div>
      <div class="col-12 col-sm-6 col-md-6 text-center text-sm-left">
        <label class="name lead"> {{ user.login }} </label>
        <br>
        <a class="small" [href]="user.html_url"> {{ user.html_url }} </a>
        <br>
        <span class="text-muted small">
          score:
          <strong>
            {{ user.score }}
          </strong>
        </span>
      </div>

      <div class="col-12 col-sm-2 col-md-2 px-0 btn-toolbar">
        <button type="button" class="btn btn-default" (click)="openAdditionalInfo(user.login)">
          <span class="text-primary">Details</span>
        </button>
        <button type="button" class="btn btn-default" (click)="destroyUser()">
          <span class="text-danger">Destroy</span>
        </button>
      </div>
    </div>

  </li>

</ul>